:root {
  --bg_dark: #0f1116;
  --bg_element_dark: #262121;
  --bg_element_hover_dark: #35373b;
  --bg_element_selected_dark: #3f444d;
  --bg_element_selected_hover_dark: #666c75;
  --corner_radius: 1rem;
}

html {
  font-size: 22px;
}

body {
  background-color: var(--bg_dark);
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1em;

  margin: 0 auto;
  padding: 0 1rem;

  max-width: 60rem;
  display: flex;
  flex-direction: column;
}

#header {
  margin: 0;
  position: relative;
}

#header h1 {
  margin: 0;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 2rem auto 1rem;
  gap: 1rem;
}

.course_group {
  background-color: var(--bg_element_dark);
  border-radius: var(--corner_radius);
}
.course {
  background: none;
  border-radius: var(--corner_radius);
  color: whitesmoke;
  border: none;
  font-size: 1rem;
  padding: 0.3rem 1rem;

  transition: all 0.3s ease;

  &:hover {
    color: gray;
  }
  &:active {
    background: var(--bg_element_dark);
  }
  &.selected {
    background: var(--bg_element_selected_dark);
  }
}

.problem_display {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 20rem;
  background-color: var(--bg_element_dark);
  border-radius: var(--corner_radius);
}

.display_placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  color: gray;
  font-size: 1.2rem;
}

.chapters {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;

  width: 33%;
  border-top-left-radius: var(--corner_radius);
  border-bottom-left-radius: var(--corner_radius);
  position: relative;
}
.chapter_separator {
  margin: 0;
  content: '';
  width: 1px;
  height: 100%;
  background-color: gray;
}

.chapter {
  background: none;
  border: none;

  width: 100%;
  text-align: start;
  padding: 1rem 1rem;

  font-size: 1rem;
  font-weight: 200;
  color: white;
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--bg_element_hover_dark);
  }
  &.selected {
    background-color: var(--bg_element_selected_dark);
    &:hover {
      background-color: var(--bg_element_selected_hover_dark);
    }
  }
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;

  width: 67%;
  border-top-right-radius: var(--corner_radius);
  border-bottom-right-radius: var(--corner_radius);
  position: relative;
}
.topic {
  background: none;
  border: none;

  width: 100%;
  text-align: start;
  padding: 1rem 1rem;

  font-size: 1rem;
  font-weight: 200;
  color: white;
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--bg_element_hover_dark);
  }
  &.selected {
    background-color: var(--bg_element_selected_dark);
    &:hover {
      background-color: var(--bg_element_selected_hover_dark);
    }
  }
}

.set_options {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.difficulty_picker,
.number_picker {
  display: inline-flex;
  align-items: baseline;
  gap: 0.25rem;
}

.difficulty_picker > select,
.number_picker > input {
  background-color: var(--bg_element_dark);
  color: white;
  border: none;
  border-radius: var(--corner_radius);
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
}

#error_display {
  background-color: darkred;
  color: white;
  font-size: 2rem;
  font-weight: 200;
}

#language_switch {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media only screen and (max-width: 640px) {
  body {
    background-color: lightblue;
  }
}
