:root {
  --bg_dark: #0f1116;
  --bg_element_dark: #262121;
  --bg_element_extra_dark: #1b191c;
  --bg_element_hover_dark: #35373b;
  --bg_element_selected_dark: #3f444d;
  --bg_element_selected_hover_dark: #666c75;
  --corner_radius: 1rem;
}

html {
  font-size: 22px;
}

body {
  background-color: var(--bg_dark);
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1em;

  margin: 0 auto;
  padding: 0 1rem;

  max-width: 60rem;
  display: flex;
  flex-direction: column;
}

#header {
  margin: 0;
  position: relative;
}

button {
  cursor: pointer;
}

#header h1 {
  margin: 0;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 2rem auto 1rem;
  gap: 1rem;
}

.course_group {
  background-color: var(--bg_element_dark);
  border-radius: var(--corner_radius);
}
.course {
  background: none;
  border-radius: var(--corner_radius);
  color: whitesmoke;
  border: none;
  font-size: 1rem;
  padding: 0.3rem 1rem;

  transition: all 0.3s ease;

  &:hover:enabled {
    background: var(--bg_element_hover_dark);
  }
  &:active {
    background: var(--bg_element_dark);
  }
  &.selected {
    background: var(--bg_element_selected_dark);
  }
  &:disabled {
    color: gray;
    cursor: initial;
  }
}

.problem_display {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 20rem;
  background-color: var(--bg_element_dark);
  border-radius: var(--corner_radius);
}

.display_placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  color: gray;
  font-size: 1.2rem;
}

.chapters {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;

  width: 33%;
  border-top-left-radius: var(--corner_radius);
  border-bottom-left-radius: var(--corner_radius);
  position: relative;
}
.chapter_separator {
  margin: 0;
  content: '';
  width: 1px;
  height: 100%;
  background-color: gray;
}

.chapter {
  background: none;
  border: none;

  width: 100%;
  text-align: start;
  padding: 1rem 1rem;

  font-size: 1rem;
  font-weight: 200;
  color: white;
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--bg_element_hover_dark);
  }
  &.selected {
    background-color: var(--bg_element_selected_dark);
    &:hover {
      background-color: var(--bg_element_selected_hover_dark);
    }
  }
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;

  width: 67%;
  border-top-right-radius: var(--corner_radius);
  border-bottom-right-radius: var(--corner_radius);
  position: relative;
}
.topic {
  background: none;
  border: none;

  width: 100%;
  text-align: start;
  padding: 1rem 1rem;

  font-size: 1rem;
  font-weight: 200;
  color: white;
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--bg_element_hover_dark);
  }
  &.selected {
    background-color: var(--bg_element_selected_dark);
    &:hover {
      background-color: var(--bg_element_selected_hover_dark);
    }
  }
}

.set_options {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.difficulty_picker,
.number_picker {
  display: inline-flex;
  align-items: baseline;
  gap: 0.25rem;
}

.difficulty_picker > select,
.number_picker > input,
.create_set_button {
  background-color: var(--bg_element_dark);
  color: white;
  border: none;
  border-radius: var(--corner_radius);
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
}
.create_set_button_container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.create_set_button {
  padding: 0.5rem 2rem;
  border: 2px gray solid;
  &:hover {
    background-color: var(--bg_element_hover_dark);
  }
  &:active {
    background-color: var(--bg_dark);
  }
}

.create_set_error {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  height: 1rem;
  color: red;
}

.set_display {
  display: flex;
  flex-direction: column;
  column-gap: 0rem;
  max-width: 100%;
  margin-bottom: 2rem;
  border-radius: var(--corner_radius);
  overflow: hidden;
  transition: border-radius 0.3 ease;
}
.set_row,
.set_display_legend {
  display: grid;
  grid-template-columns: minmax(13rem, 40rem) 13rem 5rem 4rem;
}
.set_display_legend > p {
  font-weight: 600;
}
.set_row p {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  line-height: 2.5rem;
}
.set_row {
  animation: slideIn 0.3s ease-out;
  transform-origin: top;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(0.5em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Alternating colors */
.set_row:nth-child(4n + 1) {
  background-color: var(--bg_element_hover_dark);
}
.set_row:nth-child(4n + 3) {
  background-color: var(--bg_element_dark);
}

.set_row_topics {
  padding: 0 0.75rem;
}

.set_row_controls {
  display: flex;
  justify-content: end;
}

.set_row_removal,
.set_row_editing {
  height: 1rem;
  text-align: end;
  padding: 0 0.75rem 0 0;
  &:hover {
    cursor: pointer;
    color: var(--bg_element_selected_hover_dark);
  }
}

.editing_display {
  max-height: 0;
  padding: 0 0.75rem;
  overflow: hidden;
  background-color: var(--bg_element_extra_dark);
  transition:
    max-height 0.5s ease,
    padding 0.5s ease;
}

.editing_display.editing {
  padding: 1rem 0.75rem;
  max-height: 8rem;
}

.set_row_placeholder {
  display: contents;
}
.set_row_placeholder > p {
  background-color: var(--bg_element_dark);
  color: gray;
  line-height: 2.5rem;
  padding-left: 0.75em;
  margin: 0;
}
.set_row_placeholder > p:nth-child(1) {
  border-top-left-radius: var(--corner_radius);
  border-bottom-left-radius: var(--corner_radius);
}
.set_row_placeholder > p:nth-last-child(1) {
  border-top-right-radius: var(--corner_radius);
  border-bottom-right-radius: var(--corner_radius);
}

#error_display {
  background-color: darkred;
  color: white;
  font-size: 2rem;
  font-weight: 200;
}

#language_switch {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media only screen and (max-width: 640px) {
  body {
    background-color: lightblue;
  }
}
