* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-dark: light-dark(oklch(0.9 0 264), oklch(0.1 0 264));
  --bg: light-dark(oklch(0.95 0 264), oklch(0.18 0 264));
  --bg-light: light-dark(oklch(1 0 264), oklch(0.24 0 264));
  --text: light-dark(oklch(0.15 0 264), oklch(0.96 0 264));
  --text-muted: light-dark(oklch(0.4 0 264), oklch(0.84 0 264));
  --primary: oklch(0.76 0.1 326);
  --secondary: oklch(0.68 0.1 326);
  --highlight: light-dark(oklch(1 0 264), oklch(0.5 0 264));
  --border: light-dark(oklch(0.6 0 264), oklch(0.4 0 264));
  --border-muted: light-dark(oklch(0.7 0 264), oklch(0.3 0 264));
  --danger: light-dark(oklch(0.7 0.05 30), oklch(0.5 0.05 30));
  --warning: light-dark(oklch(0.7 0.05 100), oklch(0.5 0.05 100));
  --success: light-dark(oklch(0.7 0.05 160), oklch(0.5 0.05 160));

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.25s;
  transition: background-color 0.25s;
}

:root:not([data-theme]),
:root:has(button[id='theme-system'].active_theme) {
  color-scheme: light dark;
}
:root[data-theme='dark'],
:root:has(button[id='theme-dark'].active_theme) {
  color-scheme: dark;
}
:root[data-theme='light'],
:root:has(button[id='theme-light'].active_theme) {
  color-scheme: light;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-light);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
