* {
  margin: 0;
  box-sizing: border-box;
  color: var(--text);

  transition:
    color 0.4s,
    background-color 0.4s,
    box-shadow 0.4s;
}
:root {
  --bg-dark: light-dark(oklch(0.9 0 264), oklch(0.1 0 264));
  --bg: light-dark(oklch(0.95 0 264), oklch(0.18 0 264));
  --bg-light: light-dark(oklch(1 0 264), oklch(0.24 0 264));
  --text: light-dark(oklch(0.15 0 264), oklch(0.96 0 264));
  --text-muted: light-dark(oklch(0.4 0 264), oklch(0.84 0 264));
  --primary: oklch(0.76 0.1 326);
  --secondary: oklch(from var(--primary) calc(l - 0.1) c h);
  /* Text in light mode looks brighter, need to compensate with darker color */
  --primary-text: light-dark(
    oklch(from var(--primary) calc(l - 0.2) c h),
    var(--primary)
  );
  --secondary-text: oklch(from var(--secondary) calc(l + 0.2) c h);
  --highlight: light-dark(oklch(1 0 264), oklch(0.5 0 264));
  --border: light-dark(oklch(0.6 0 264), oklch(0.4 0 264));
  --border-muted: light-dark(oklch(0.7 0 264), oklch(0.3 0 264));
  --danger: light-dark(oklch(0.7 0.05 30), oklch(0.5 0.05 30));
  --warning: light-dark(oklch(0.7 0.05 100), oklch(0.5 0.05 100));
  --success: light-dark(oklch(0.7 0.05 160), oklch(0.5 0.05 160));

  --shadow-base: light-dark(oklch(0.75 0 0), oklch(0.15 0 0));
  --shadow-elevation-low:
    1.6px 1px 1.1px color-mix(in oklch, var(--shadow-base) 24%, transparent),
    1.3px 0.8px 1.8px -1px
      color-mix(in oklch, var(--shadow-base) 27%, transparent),
    5px 3px 4px -2.1px color-mix(in oklch, var(--shadow-base) 30%, transparent);
  --shadow-elevation-medium:
    0.8px 0.5px 1.1px color-mix(in oklch, var(--shadow-base) 25%, transparent),
    2.6px 1.7px 3.7px -0.7px
      color-mix(in oklch, var(--shadow-base) 28%, transparent),
    6.2px 3.9px 8.7px -1.4px
      color-mix(in oklch, var(--shadow-base) 30%, transparent),
    14.6px 9.2px 20.4px -2.1px
      color-mix(in oklch, var(--shadow-base) 33%, transparent);
  --shadow-elevation-high:
    0.8px 0.5px 1.1px color-mix(in oklch, var(--shadow-base) 24%, transparent),
    4.5px 2.8px 6.3px -0.3px
      color-mix(in oklch, var(--shadow-base) 25%, transparent),
    8.2px 5.2px 11.5px -0.6px
      color-mix(in oklch, var(--shadow-base) 26%, transparent),
    13px 8.2px 18.2px -0.9px
      color-mix(in oklch, var(--shadow-base) 27%, transparent),
    20.1px 12.7px 28.2px -1.2px
      color-mix(in oklch, var(--shadow-base) 28%, transparent),
    30.6px 19.4px 42.9px -1.5px
      color-mix(in oklch, var(--shadow-base) 29%, transparent),
    45.8px 29px 64.2px -1.8px
      color-mix(in oklch, var(--shadow-base) 30%, transparent),
    66.7px 42.2px 93.5px -2.1px
      color-mix(in oklch, var(--shadow-base) 31%, transparent);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.25s;
  transition: background-color 0.25s;
}

:root:not([data-theme]),
:root:has(button[id='theme-system'].active_theme) {
  color-scheme: light dark;
}
:root[data-theme='dark'],
:root:has(button[id='theme-dark'].active_theme) {
  color-scheme: dark;
}
:root[data-theme='light'],
:root:has(button[id='theme-light'].active_theme) {
  color-scheme: light;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;

  &.no-scroll {
    overflow: hidden;
  }
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.text {
  color: var(--text);
}
.text-muted {
  color: var(--text-muted);
}
.bg-dark {
  background-color: var(--bg-dark);
}
.bg {
  background-color: var(--bg);
}
.bg-light {
  background-color: var(--bg-light);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-light);
  cursor: pointer;
  transition:
    color 0.4s,
    background-color 0.4s,
    border-color 0.3s;
  border: 2px solid transparent;

  &:hover {
    border-color: var(--primary);
  }
  &:active {
    background-color: var(--bg);
    transition: background-color 0.1s;
  }

  &.primary {
    background-color: var(--primary);
    color: oklch(0.18 0 0);

    &:hover:enabled {
      background-color: var(--secondary);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--bg-light);
    color: gray;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
